{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="20">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/status.css') }}">
{% endblock %}

{% block title %}Gym Status{% endblock %}

{% block content %}
  <h1 class='title'>Gym Status</h1>

  <h2>Machines Status</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Queue Size</th>
      <th>Open</th>
      <th>Occupied</th>
      <th>Queued</th>
      <th>Total Machines</th>
    </tr>

    {% for group in machine_groups %}
      <tr>
        <td>{{ group['name'] }}</td>

        {% if 'queue' in group %}
          <td>{{ group['queue']|list|length }}</td>
        {% else %}
          <td>Empty</td>
        {% endif %}

        {% if machine_stats[ group['_id']|string ]['open'] %}
          <td>{{ machine_stats[ group['_id']|string ]['open']}}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if machine_stats[ group['_id']|string ]['occupied'] %}
          <td>{{ machine_stats[ group['_id']|string ]['occupied']}}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if machine_stats[ group['_id']|string ]['queued'] %}
          <td>{{ machine_stats[ group['_id']|string ]['queued']}}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if machine_stats[ group['_id']|string ]['total'] %}
          <td>{{ machine_stats[ group['_id']|string ]['total']}}</td>
        {% else %}
          <td>0</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  <h2>Users Status</h2>
  <table>
    <tr>
      <th>Total In Gym</th>
      <th>Total On Machines</th>
      <th>Total In Queue</th>
    </tr>
    <tr>
      <td>{{ user_stats['total'] }}</td>
      <td>{{ user_stats['machine'] }}</td>
      <td>{{ user_stats['queued'] }}</td>
    </tr>
  </table>

  <h2>Popular Times</h2>
  <table>
    {% set time = 8 %}
    <tr>
      <th>Time</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    {% for time in range(8, 8 + 15) %}
      {% set strTime = (((time - 1) % 12) + 1) |string + ":00" %}
      <tr>
        <td>{{ strTime }}</td>

        {% if 0 in time_stats and time in time_stats[0] %}
          <td>{{ time_stats[0][time] }}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if 1 in time_stats and time in time_stats[1] %}
          <td>{{ time_stats[1][time] }}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if 2 in time_stats and time in time_stats[2] %}
          <td>{{ time_stats[2][time] }}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if 3 in time_stats and time in time_stats[3] %}
          <td>{{ time_stats[3][time] }}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if 4 in time_stats and time in time_stats[4] %}
          <td>{{ time_stats[4][time] }}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if 5 in time_stats and time in time_stats[5] %}
          <td>{{ time_stats[5][time] }}</td>
        {% else %}
          <td>0</td>
        {% endif %}

        {% if 6 in time_stats and time in time_stats[6] %}
          <td>{{ time_stats[6][time] }}</td>
        {% else %}
          <td>0</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
